/* Chat bot styling */

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}
.chat-box {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    max-width: 100%;
    height: 400px;
    max-height: 80%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    z-index: 1000;
}
.chat-header {
    background: #007bff;
    color: white;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    font-size: 12px !important;
}
.chat-footer {
    padding: 15px;
    border-top: 1px solid #e9ecef;
}
.chat-footer input {
    width: calc(100% - 50px);
    margin-right: 10px;
}
.chat-footer button {
    width: 40px;
}
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    max-height: none;
}
.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
.chat-message.user {
    background-color: #f1f1f1;
    text-align: right
}
.chat-message.bot {
    background-color: #007bff !important;
    color: #fff;
    text-align: left;
}